//***************************************************************
//NAV BAR styling - specific overrides for other portfolio and blog pages
//***************************************************************
// .archive,
// .single,
// .blog{
//   .mobileNavTest{
//     width: 100%;
//     position: fixed;
//     z-index: 100;
//     text-align: center;
//     font-size: $navFontSize;
//     height: $navBarHeight;
//     font-family: 'Open Sans';
//     .container{
//       display: inline-block;
//       background-color: $navBackgroundColor;
//       border-bottom: 1px solid $navBorderBottomColor;
//       height: $navBarHeight;
//       position: relative;
//       width: 100%;
//       margin: 0 auto;

//       .currentPage{
//         position: absolute;
//         left: 100px;
//         width: 220px;
//         p{
//           font-family: josefinSansSemiBold;
//           font-size: 20px;
//           margin-top: $navTextMarginTop;
//           color: $navFontColor;
//         }
//         .logo{
//           display: inline-block;
//           float: left;
//           font-size: $navFontSize;
//           font-weight: 400;
//           text-decoration: none;
//           margin: 0;
//           padding-left: 10px;
//           padding-right: 10px;
//           padding-top: 17px;
//           height: $navBarHeight;
//           color: $navFontColor;
//           background-color: transparent;
//           svg{
//             height: $navBarHeight - 35px;
//             width: $navBarHeight - 35px;
//           }
//         }
//         .triangleRight{
//           display: inline-block;
//           float: left;
//           width: 0;
//           height: 0;
//         }
//         .first{
//           border-top: ($navBarHeight/2) solid $navCrumbPathColor;
//           border-left: 10px solid $navLogoAreaBackColor;
//           border-bottom: ($navBarHeight/2) solid $navCrumbPathColor;
//         }
//         .second{
//           border-top: ($navBarHeight/2) solid transparent;
//           border-left: 10px solid $navCrumbPathColor;
//           border-bottom: ($navBarHeight/2) solid transparent;
//         }
//         .crumbPath{
//           display: inline-block;
//           float: left;
//           text-decoration: none;
//           padding-left: 10px;
//           padding-right: 10px;
//           padding-top: $navTextMarginTop;
//           height: $navBarHeight;
//           color: $navFontColor;
//           background-color: $navCrumbPathColor;
//           @include transition(color, 0.2s, ease-in-out);
//           &:hover{
//             color: $navHoverColor;
//           }
//         }
//         .pageTitle{
//           display: inline-block;
//           float: left;
//           margin-top: $navTextMarginTop;
//           padding-left: 10px;
//           color: $navFontColor;
//         }

//       }

//       .mainNavList{
//           position: absolute;
//           right: -800px;
//           ul{
//             display: inline-block;
//             margin-top: $navTextMarginTop;
//             li{
//               display:inline;
//               position: relative;
//               a{
//                 text-decoration: none;
//                 position: relative;
//                 font-size: $navFontSize;
//                 vertical-align: center;
//                 color: $navFontColor;
//                 background-color: transparent;
//                 @include transition(color, 0.2s, ease-in-out);
//                 &:hover{
//                   color: $navHoverColor; 
//                 }
//               }
//               &:hover ul{
//                 display: block;
//               }
//             }
//           }   
//         }

      
//     }
//   }
// }




//***************************************************************
//NAV BAR styling - front-page.php
//***************************************************************
// .page{
//   .mobileNavTest{
//     width: 100%;
//     position: fixed;
//     z-index: 100;
//     text-align: center;
//     font-size: $navFontSize;
//     height: $navBarHeight;
//     font-family: 'Open Sans';
//     .container{
//       display: inline-block;
//       background-color: $navBackgroundColor;
//       border-bottom: 1px solid $navBorderBottomColor;
//       height: $navBarHeight;
//       position: relative;
//       width: 100%;
//       margin: 0 auto;
//         .currentPage{
//           position: absolute;
//           left: 100px;
//           width: 220px;
//           p{
//             font-family: josefinSansSemiBold;
//             font-size: 20px;
//             margin-top: $navTextMarginTop;
//           }
//           .logo{
//             display: inline-block;
//             float: left;
//             font-size: $navFontSize;
//             font-weight: 400;
//             text-decoration: none;
//             margin: 0;
//             padding-left: 10px;
//             padding-right: 10px;
//             padding-top: 17px;
//             height: $navBarHeight;
//             color: $navFontColor;
//             background-color: transparent;
//             svg{
//               height: $navBarHeight - 35px;
//               width: $navBarHeight - 35px;
//             }
//           }
//           p{
//             color: $navFontColor;
//           }
//         }

//         .mainNavList{
//           position: absolute;
//           right: 70px;
//           ul{
//             display: inline-block;
//             margin-top: $navTextMarginTop;
//             li{
//               display:inline;
//               position: relative;
//               a{
//                 text-decoration: none;
//                 position: relative;
//                 font-size: $navFontSize;
//                 vertical-align: center;
//                 color: $navFontColor;
//                 background-color: transparent;
//                 @include transition(color, 0.2s, ease-in-out);
//                 &:hover{
//                   color: $navHoverColor; 
//                 }
//               }
//               &:hover ul{
//                 display: block;
//               }
//             }
//           }   
//         }
      
//     }
//   }
// }


// .page{
//   .mobileNavTest{

//     .container{
//       height: $navBarHeight;
//       .currentPage{
//         position: absolute;
//           left: 100px;
//           .logo{
//             display: inline-block;
//             float: left;
//             font-size: $navFontSize;
//             font-weight: 400;
//             text-decoration: none;
//             margin: 0;
//             padding-left: 10px;
//             padding-right: 10px;
//             padding-top: 17px;
//             height: $navBarHeight;
//             color: $navFontColor;
//             // background-color: $navBackgroundColor;
//             background-color: transparent;
            
//             svg{
//               height: $navBarHeight - 35px;
//               width: $navBarHeight - 35px;
//             }
//           }
//           p{
//             color: $navFontColor;
//           }
//       }
//       .mainNavList{
//           position: absolute;
//           right: 70px;
//       }
//     }
//   }
// }


//***************************************************************
//NAV BAR styling - front-page.php and all other portfolio/blog
//***************************************************************
.archive,
.single,
.blog,
.page{
  .mobileNavTest{
    width: 100%;
    // max-width: 1100px;
    position: fixed;
    z-index: 100;
    text-align: center;
    font-size: $navFontSize;
    height: $navBarHeight;
    font-family: 'Open Sans';
    .container{
      display: inline-block;
      background-color: $navBackgroundColor;
      border-bottom: 1px solid $navBorderBottomColor;
      height: $navBarHeight;
      position: relative;
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      .mobileNavButton{
        position: relative;
        display: inline-block;
        float: left;
        width: 100px;
        height: $navBarHeight;
        background-color: $navBackgroundColor ;
        border-bottom: 1px solid $navBorderBottomColor;
        z-index: 100;
        @include transition(color, 0.2s, ease-in-out);
        button{
          float: left;
        }
        p{
          float: right;
          margin: 0;
          padding: 0;
          margin-top: $navTextMarginTop;
          margin-right: 10px;
          font-size: $navFontSize;
          color: $navFontColor;
          @include transition(color, 0.2s, ease-in-out);
          &:hover{
            color: $navHoverColor
          }
        }
        &:hover{
          cursor: pointer;
        }
      }
      .currentPage{
        position: absolute;
        left: 100px;
        width: 220px;
        p{
          font-family: josefinSansSemiBold;
          font-size: 20px;
          margin-top: $navTextMarginTop;
          color: $navFontColor;
        }
        .logo{
          display: inline-block;
          float: left;
          font-size: $navFontSize;
          font-weight: 400;
          text-decoration: none;
          margin: 0;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 17px;
          height: $navBarHeight;
          color: $navFontColor;
          background-color: transparent;
          svg{
            height: $navBarHeight - 35px;
            width: $navBarHeight - 35px;
          }
        }
        .triangleRight{
          display: inline-block;
          float: left;
          width: 0;
          height: 0;
        }
        .first{
          border-top: ($navBarHeight/2) solid $navCrumbPathColor;
          border-left: 10px solid $navLogoAreaBackColor;
          border-bottom: ($navBarHeight/2) solid $navCrumbPathColor;
        }
        .second{
          border-top: ($navBarHeight/2) solid transparent;
          border-left: 10px solid $navCrumbPathColor;
          border-bottom: ($navBarHeight/2) solid transparent;
        }
        .crumbPath{
          display: inline-block;
          float: left;
          text-decoration: none;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: $navTextMarginTop;
          height: $navBarHeight;
          color: $navFontColor;
          background-color: $navCrumbPathColor;
          border-bottom: 1px solid $navBorderBottomColor;
          @include transition(color, 0.2s, ease-in-out);
          &:hover{
            color: $navHoverColor;
          }
        }
        .pageTitle{
          display: inline-block;
          float: left;
          margin-top: $navTextMarginTop;
          padding-left: 10px;
          color: $navFontColor;
        }
      }

      .mainNavList{
        position: absolute;
        right: 70px;

        ul{
          display: inline-block;
          margin-top: $navTextMarginTop;
          li{
            display:inline;
            position: relative;
            a{
              text-decoration: none;
              position: relative;
              font-size: $navFontSize;
              vertical-align: center;
              color: $navFontColor;
              background-color: transparent;
              @include transition(color, 0.2s, ease-in-out);
              &:hover{
                color: $navHoverColor; 
              }
            }
            &:hover ul{
              display: block;
            }
          }
        }   
      }
      
    }
  }
}



//***************************************************************
//NAV BAR styling - for all other portfolio and blog pages
//***************************************************************
.archive,
.single,
.blog{
  .mobileNavTest{
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    font-size: $navFontSize;
    height: $navBarHeight;
    font-family: sourceLight;
    font-family: 'Open Sans';
    .container{
      display: inline-block;
      background-color: $navBackgroundColor;
      border-bottom: 1px solid $navBorderBottomColor;
      position: relative;
      width: 100%;
      margin: 0 auto;
        .mobileNavButton{
          position: relative;
          display: inline-block;
          float: left;
          width: 100px;
          height: $navBarHeight;
          background-color: $navBackgroundColor ;
          z-index: 100;
          @include transition(color, 0.2s, ease-in-out);
          button{
            float: left;
          }
          p{
            float: right;
            margin: 0;
            padding: 0;
            margin-top: $navTextMarginTop;
            margin-right: 10px;
            font-size: $navFontSize;
            color: $navFontColor;
            @include transition(color, 0.2s, ease-in-out);
            &:hover{
              color: $navHoverColor
            }
          }
          &:hover{
            cursor: pointer;
          }
        }

        .currentPage{
          position: absolute;
          left: 100px;
          // width: 220px;
          height: $navBarHeight;
          width: 1000px;

          .logo{
            display: inline-block;
            float: left;
            font-size: $navFontSize;
            font-weight: 400;
            text-decoration: none;
            margin: 0;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 17px;
            height: $navBarHeight;
            color: $navFontColor;
            background-color: transparent;
            svg{
              height: $navBarHeight - 35px;
              width: $navBarHeight - 35px;
            }
          }
          .triangleRight{
            display: inline-block;
            float: left;
            width: 0;
            height: 0;
          }
          .first{
            border-top: ($navBarHeight/2) solid $navCrumbPathColor;
            border-left: 10px solid $navLogoAreaBackColor;
            border-bottom: ($navBarHeight/2) solid $navCrumbPathColor;
          }
          .second{
            border-top: ($navBarHeight/2) solid transparent;
            border-left: 10px solid $navCrumbPathColor;
            border-bottom: ($navBarHeight/2) solid transparent;
          }
          .crumbPath{
            display: inline-block;
            float: left;
            text-decoration: none;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: $navTextMarginTop;
            height: $navBarHeight;
            color: $navFontColor;
            background-color: $navCrumbPathColor;
            @include transition(color, 0.2s, ease-in-out);
            &:hover{
              color: $navHoverColor;
            }
          }
          .pageTitle{
            display: inline-block;
            float: left;
            font-family: sourceLight, sans-serif;
            font-size: 18px;
            margin-top: $navTextMarginTop;
            padding-left: 10px;
            color: $navFontColor;
          }
        }

        .mainNavList{
          position: absolute;
          right: -800px;
          ul{
            display: inline-block;
            margin-top: $navTextMarginTop;
            li{
              display:inline;
              position: relative;
              a{
                text-decoration: none;
                position: relative;
                font-size: $navFontSize;
                vertical-align: center;
                color: $navFontColor;
                background-color: transparent;
                @include transition(color, 0.2s, ease-in-out);
                &:hover{
                  color: $navHoverColor; 
                }
              }
              &:hover ul{
                display: block;
              }
            }
          }   
        }
      
    }
  }

}


